<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/style.css">

        <title>About - Translate Me</title>
        <link rel="icon" type="image/x-icon" href="../assets/sentiment/meh.png">
    </head>

    <body>
        <div class=navbar>
            <div class=logo>
                <a href="index.html"><h1>Translate Me</h1></a>
            </div>
            <div class=nav-links>
                <a href="about.html">About</a>
                <a href="https://github.com/ibukunodunoren/translate-me">GitHub</a>
                <a href="https://devpost.com/software/pending-ktcxao">Devpost</a>
            </div>
        </div>
        
        <div class=content>
            <div class=content-card>
                <div class=content-title>
                    <h2>About This Project</h2>
                </div>
                <p>
                    This project was made for Hack Cambridge Atlas 2022, with the challenges being using Deepgram to make some kind of social improvement.<br>
                    <br>
                    The aim of Translate Me is to allow people who are less familiar with English, such as migrant workers, to be able to communicate with
                    native English speakers, as this would improve their job prospects, as well as improving their general ease of living should they be living
                    in an English speaking country.<br>
                    <br>
                    The project was made by Ibukun Odunoren, Kushal Mehta, Solaris Li, and Sui Leng Teo.<br>
                    <br>
                    The main libraries used in this project were
                    <a href="https://pypi.org/project/Flask/">Flask</a> and <a href="https://pypi.org/project/deepgram-sdk/">Deepgram</a>.
                </p>
            </div>
        </div>
    </body>
</html>
