<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <title>Translate - Translate Me</title>
        <link rel="icon" type="image/x-icon" href="../assets/sentiment/meh.png">
    </head>

    <body>
        {% extends "template.html" %}
        {% block content %}
        <div class=content>
            <div class=content-card>
                <div class=content-title>
                    <h2>English Transcript</h2>
                </div>
                <p>{{ english_transcript }}</p>
            </div>
            
            <div class=content-card>
                <div class=content-title>
                    <h2>Translated Transcript</h2>
                </div>
                <p>{{ translated_transcript }}</p>
            </div>
            
            <div class=content-card>
                <div class=content-title>
                    <h2>Sentiment</h2>
                </div>
                <div class=sentiment>
                    <div class=sentiment-card>
                        <h3>Other Person</h3>
                        <img src="{{ url_for('static', filename='sentiment/frown.png') }}"></img>
                        <br>{{ sentiment_img_other }}
                    </div>
                    
                    <div class=sentiment-card>
                        <h3>You</h3>
                        <img src="{{ url_for('static', filename='sentiment/meh.png') }}"></img>
                        <br>{{ sentiment_img_self }}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
