<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../style.css">

        <title>Translate Me</title>
    </head>

    <body>
        <div class=navbar>
            <div class=logo>
                <h1>Translate Me</h1>
            </div>
            <div class=nav-links>
                <a href="">About</a>
                <a href="">GitHub</a>
                <a href="">Devpost</a>
            </div>
        </div>
        
        <div class=content>
            <div class=content-card>
                <div class=content-title>
                    <h2>English Transcript</h2>
                </div>
                <p>{{ english_transcript }}</p>
            </div>
            
            <div class=content-card>
                <div class=content-title>
                    <h2>Translated Transcript</h2>
                </div>
                <p>{{ translated_transcript }}</p>
            </div>
            
            <div class=content-card>
                <div class=content-title>
                    <h2>Sentiment</h2>
                </div>
                <div class=sentiment>
                    <div class=sentiment-card>
                        <h3>Other Person</h3>
                        <img src="../assets/sentiment/frown.png"></img>
                        <br>{{ sentiment_img_other }}
                    </div>
                    
                    <div class=sentiment-card>
                        <h3>You</h3>
                        <img src="../assets/sentiment/meh.png"></img>
                        <br>{{ sentiment_img_self }}
                    </div>
                </div>
            </div>
        </div>
        
        <br>
    </body>
</html>
